/*partials.scss*/

$body-font: 'Abel', helvetica;
$header-font: 'Odibee Sans', helvetica;
$primary-text: #FFCB82;
$secondary-text: #997b11;
$highlight-text: #C2F8FF;
$primary-background: #CCB35A;
$header-text-lg: 80px;
$header-text-md: 48px;
$header-text-sm: 32px;
$body-text: 24px;